html {
    font-size: 16px;
    box-sizing: border-box;
    
}

*, *::before, *::after {
    box-sizing: inherit;
    outline: 1px solid;
}

:root {

}

/* body {

} */

.calculator {
    width: 300px;
    height: 500px;
    margin: 100px auto;
    background-color: #101b3d;
    border-radius: 20px;
}

.display {
    width: 100%;
    height: 100px;
    background-color: #a3a3a3;
    color: #0a0a0a;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: space-between;
}

.operation, .result {
    /* flex-grow: 1; */
    font-size: 2em;
    padding: 0 10px;
    height: 50%;
}

.result {
    margin-left: auto;
    align-self: flex-end;
    font-size: 3em;


}
.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin: 25px 10px;
}

.button {
    height: 50px;
    /* width: 50px; */
    text-align: center;
    font-size: 2.5em;
    background-color: #737373;
    color: #fafaf9;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    margin: 5px 0;
    padding-top: 2.5px;
/* border-radius: 50%; */

}

.button.equals {
    /* grid-column: span 2; */
    background-color: #059669;
}

.delete {
    background-color: rgb(248, 76, 76);
}

.button.clear {
    /* grid-column: span 2; */
    background-color: #6e0773;
}